body {
     background-image: url(https://images.wallpaperscraft.ru/image/linii_svet_fon_svetlyy_46594_1920x1200.jpg);
 }
h1 {
    color: yellowgreen;text-align: center;font-size: 7vh;
 }
p {
    color: white; text-align: right;font-size: 14px;
 }
.container {
    display: flex;
    justify-content: space-evenly;
    color: khaki;
    font-family: fantasy;
 }
.container_element {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: lawngreen;
    border-radius: 50%;
    justify-content: center;  
 }
.container_element p {
    text-align: left;
     margin: auto;
     justify-content: center;
     align-content: center;
 }